* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --light-red: hsl(0, 100%, 63%);
}

html {
    font-size: 62.5%;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 4.6rem;
    margin: 15px 0;
}

.header-logo--container {
    width: 140px;
    margin-left: 10px;
}

.header-logo--container img {
    width: 100%;
}

/* form section */

main {
    width: 100%;
    height: auto;
}

.main-form--container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--pink);
    border-radius: 25px;
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

form {
    width: 100%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

span {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
}

 label input {
    border: none;
    border-bottom: 1px solid var(--light-red);
    padding: 5px;
}

input::placeholder {
    text-align: center;
}
 
.check-container {
    display: flex;
    flex-direction: column;
}

#submit {
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    background-color: #b92683;
    color: white;
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.4);
    height: 35px;
}

#submit:hover {
    cursor: pointer;
    background-color: #e627a0;
}

/* end form section */

/* Footer */

footer {
    display: inline-block;
    width: 100%;
    height: 145px;
    margin-top: 25px;
    background-image: url(../images/illustration-grow-together.svg);
    background-position: 45% 35%;
    background-size: cover;
    background-repeat: no-repeat;
}