* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors section */
:root  {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header section */
header {
    width: 100%;
    height: auto;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.header-logo--container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.logo-container {
    width: 115px;
}

.logo-container img {
    width: 100%;
}

.header-button--trial {
    width: 100px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--light-pink);
    border-radius: 25px;
    color: var(--light-pink);
    font-size: 1.2rem;
}

.header-main--container {
    width: 90%;
    height: auto;
    min-height: 320px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header-title {
    font-size: 2.4rem;
    font-weight: 700;
}

.header-content--description {
    font-size: 1.6rem;
    font-weight: 600;
}

.button--start {
    width: 70%;
    max-width: 320px;
    height: 50px;
    font-size: 1.4rem;
    border: none;
    border-radius: 25px;
    background-color: var(--pink);
    color: white;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.46);
}

.button--start:hover {
    cursor: pointer;
    background-color: #e627a0;
    outline: none;
}

/* end header section */

/* main section */
main {
    width: 100%;
    height: auto;
}

.first-main--section,
.second-main--section,
.main-numbers--container {
    width: 100%;
    height: auto;
    margin: 15px auto;
}

.image-container {
    width: auto;
    min-width: 288px;
    max-width: 620px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
}

.main-numbers--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-numbers--left,
.main-numbers--right {
    width: 50%;
    min-width: 230px;
    max-width: 560px;
    margin: 10px 0;
}

.communities-icon, 
.message-icon {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 140px;
}

.communities-icon {
    background-image: url(./images/icon-communities.svg);
}

.message-icon {
    background-image: url(./images/icon-messages.svg);
}
.main-number {
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 2.8rem;
    text-align: center;
    padding-bottom: 10px;
}

.main-number--description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
    color: #808080;
}

.article-container,
.article-content-container {
    width: inherit;
    height: auto;
}

.article-container {
   margin: 0 auto;
}

.article-image--container {
    width: auto;
    min-width: 288px;
}

.article-image--container img {
    width: 100%;
}

.article-content--container {
    text-align: center;
    padding: 15px;
}

.article-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.article-description {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
    margin-top: 10px;
}

.background-first--top,
.background-first--bottom,
.background-second--top,
.background-second--bottom {
    width: 100%;
    height: 75px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-first--top {
    background-image: url(./images/bg-section-top-mobile-1.svg);
}

.background-first--bottom {
    background-image: url(./images/bg-section-bottom-mobile-1.svg);
}

.background-second--top {
    background-image: url(./images/bg-section-top-mobile-2.svg);
}
.background-second--bottom {
    background-image: url(./images/bg-section-bottom-mobile-2.svg);
}

.section-one,
.section-two {
    background-color: #f6fbff;
}

.ready-section--container {
    width: 90%;
    min-height: 250px;
    margin: 35px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ready-title {
    font-size: 2.8rem;
    line-height: 4rem;
}
/* end main section */

/* footer section */
footer {
    width: 100%;
    height: auto;
    min-height: 520px;
    background-color: #00252e;
    color: white;
}

.footer-background--top{
    width: 100%;
    height: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-background--top {
    background-image: url(./images/bg-footer-top-mobile.svg);
}

.contact-form--container,
.about-huddle--container {
    max-width: 100%;
    height: auto;
    margin: 0 auto 25px;
    padding: 10px;
}

.contact-form--title {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.contact-form--description,
.about-huddle--description {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 15px 0;
}

form label{
    display: flex;
    flex-direction: column;
}

label span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

#email {
    height: 45px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

#email::placeholder {
    text-align: center;
}

.email-button {
    width: 30%;
    min-width: 150px;
    height: 35px;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    background-color: var(--pink);
    color: white;
}

.email-button:hover {
    cursor: pointer;
    background-color: #e627a0;
}

.footer-logo {
    width: 150px;
    margin: 10px 0;
}

.footer-logo img {
    width: 100%;
}

.phone-icon,
.mail-icon {
    display: inline-block;
    width: 35px;
    height: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.phone-icon {
    background-image: url(./images/icon-phone.svg);
}

.mail-icon {
    background-image: url(./images/icon-email.svg);
}

ul li {
    margin: 15px 0;
    font-size: 1.2rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* end footer section */